:root {
  --main-transition-duration-value: 250ms;
  --main-timing-function-value: cubic-bezier(0.4, 0, 0.2, 1);
  --main-title-color: #fff;
  --main-btn-color: #fff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;
  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.section-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.section-primary-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.section-primary-text::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.btn {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  transition: background-color 250ms linear, color 250ms linear;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}
.btn--light {
  color: var(--accent-color);
}
.btn--dark {
  color: var(--secondary-btn-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(9, 11, 19, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
  z-index: 2;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  width: 100%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  background-color: #fff;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
  transition: fill 250ms linear, background-color 250ms linear;
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--main-btn-color);
  background-color: var(--accent-color);
}

.modal-form-label {
  display: block;
}
.modal-form-label:nth-child(-n+3) {
  margin-bottom: 10px;
}
.modal-form-label:nth-child(4) {
  margin-bottom: 17px;
}
.modal-form-label:nth-child(5) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.38px;
  margin-bottom: 30px;
}

.modal-label-container {
  display: block;
  position: relative;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.modal-form-label:nth-child(5) .modal-label-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: inherit;
}

.modal-form-input,
.modal-form-textarea {
  display: block;
  outline: none;
  color: var(--main-color);
}

.modal-form-input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--main-transition-duration-value) var(--main-timing-function-value);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill var(--main-transition-duration-value) var(--main-timing-function-value);
}

.modal-form-textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--main-transition-duration-value) var(--main-timing-function-value);
}
@media screen and (min-width: 768px) {
  .modal-form-textarea {
    width: 448px;
  }
}
.modal-form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label:focus-within .modal-form-icon,
.modal-form-label:focus-within .modal-form-input:nth-child(-n+3),
.modal-form-label:focus-within .modal-form-textarea {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-checkbox-icon {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  fill: transparent;
  transition: fill var(--main-transition-duration-value) var(--main-timing-function-value), border-color var(--main-transition-duration-value) var(--main-timing-function-value), background-color var(--main-transition-duration-value) var(--main-timing-function-value);
}
.checkbox:checked + .modal-checkbox-icon {
  fill: var(--secondary-color);
  border-color: transparent;
  background-color: var(--accent-color);
}
.checkbox:focus + .modal-checkbox-icon {
  outline: 1px solid var(--accent-color);
}

.modal-label-link {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  gap: 59px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .nav {
    gap: 131px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    fill: #ffffff;
  }
}

.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    gap: 30px;
  }
}

.header__connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__connect {
    display: flex;
    margin-left: auto;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .header__connect {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header__connect {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.menu__link,
.connect__tel {
  transition: color 250ms linear;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.menu__link:hover,
.menu__link:focus {
  color: #ff6c00;
}

.connect__btn {
  color: var(--main-btn-color);
}

.menu-open-button {
  margin-left: auto;
  margin-right: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open-button {
    display: none;
  }
}

.menu-open-button__icon {
  fill: #ffffff;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(0);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
  background-color: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.mob-menu.is-hidden {
  transform: translateX(100%);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__container {
  position: absolute;
  right: 0;
  width: 75%;
  height: 100%;
  padding-top: 118px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 200px;
  background-color: #fff;
  overflow: auto;
}

.menu-close-button {
  position: absolute;
  top: 48px;
  right: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-list {
  margin-bottom: 64px;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: #ff6c00;
}

.menu-connect {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.menu-connect__tel {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
}
@media screen and (min-width: 380px) {
  .menu-connect__tel {
    font-size: 18px;
  }
}

.menu-soc__list {
  position: relative;
}
@media screen and (min-width: 380px) {
  .menu-soc__list {
    padding-left: 100px;
  }
}
@media screen and (min-width: 380px) {
  .menu-soc__list::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #303030;
    left: 0;
    top: 9px;
  }
}

.menu-soc__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-soc__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero__container {
  display: flex;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 15px;
    padding-right: 15px;
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
  }
}

.soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .soc {
    display: flex;
    align-items: flex-end;
    width: 100px;
    padding-left: 27px;
    padding-bottom: 40px;
  }
}

.soc__list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
}
.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.soc__link {
  transition: color 250ms linear;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
.soc__link:hover, .soc__link:focus {
  color: var(--accent-color);
}

.hero__content {
  padding: 208px 31px;
  background-color: grey;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding: 272px 119px 237px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 272px 100px 208px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img-1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img-1200@2x.jpg);
  }
}

.hero__primary-text {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
    line-height: 1.1666666667;
  }
}

.hero__secondary-text {
  max-width: 336px;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 480px) {
  .hero__secondary-text {
    font-size: 16px;
  }
}

.about__container {
  display: flex;
  gap: 30px;
}

.picture-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .picture-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .picture-list {
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .picture-list__item:first-child {
    margin-bottom: 30px;
  }
}

.about__content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__content {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    max-width: 470px;
  }
}

.about__primary-text {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.about__title {
  width: 100%;
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.about__secondary-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .about__secondary-text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about__text {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 46px;
  }
}

.prices {
  background-image: url(../images/prices-bg-480.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111319;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-bg-480@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../images/prices-bg-768.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-bg-768@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    background-image: url(../images/prices-bg-1200.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-bg-1200@2x.png);
  }
}

.prices-text {
  margin-bottom: 19px;
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 45px;
  font-size: 40px;
  line-height: 1.175;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .prices-title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.prices-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .prices-list-container {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .prices-list-container {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.prices-list {
  width: 100%;
  padding: 30px 20px;
}
@media screen and (max-width: 1199px) {
  .prices-list:first-child {
    padding-bottom: 20px;
  }
  .prices-list:last-child {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .prices-list {
    width: 50%;
  }
  .prices-list:first-child {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices-list:last-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}

.prices-item::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .prices-item-text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  color: var(--main-btn-color);
}

.benefits-container {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .benefits-container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  .benefits-container {
    align-items: center;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 1199px) {
  .benefits-list {
    margin-top: 44px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    margin-left: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1199px) {
  .benefits-list {
    margin-left: 100px;
    width: 370px;
  }
}

.benefits-item {
  width: calc((100% - 30px) / 2);
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.benefits-item-primary-text {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-primary-icon {
  position: absolute;
  top: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ff6c00;
}

.benefits-item-secondary-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-content {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-content {
    margin-right: auto;
  }
}
@media screen and (min-width: 1199px) {
  .benefits-content {
    margin-left: 130px;
    padding-top: 9px;
  }
}

.benefits-primary-text {
  margin-bottom: 20px;
  color: #303030;
}

.benefits-title {
  max-width: 430px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-secondary-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.barbers {
  background-color: #f7f7f7;
}

.barbers__text {
  margin-bottom: 20px;
  color: #303030;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .barbers__text {
    margin-left: 120px;
  }
}

.barbers__title {
  margin-bottom: 44px;
  color: #303030;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .barbers__title {
    margin-left: 120px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .cards {
    gap: 64px;
  }
}

.cards__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.cards__content {
  margin-top: 30px;
}

.cards__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.cards__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 260ms linear;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon {
  fill: #303030;
  transition: fill 250ms linear;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--accent-color);
}

.gallery-text {
  margin-bottom: 71px;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .gallery-text {
    margin-bottom: 44px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}

.sections-wrap {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #191c26;
  background-image: url(../images/contacts-bg-480.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .sections-wrap {
    background-image: url(../images/contacts-bg-480@2x.png);
  }
}
@media screen and (min-width: 786px) {
  .sections-wrap {
    background-image: url(../images/contacts-bg-786.png);
  }
}
@media screen and (min-width: 786px) and (min-device-pixel-ratio: 2), screen and (min-width: 786px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 786px) and (min-resolution: 192dpi), screen and (min-width: 786px) and (min-resolution: 2dppx) {
  .sections-wrap {
    background-image: url(../images/contacts-bg-786@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .sections-wrap {
    padding: 100px 0;
    background-image: url(../images/contacts-bg-1200.png);
    background-size: calc(50% - 15px) 100%;
    background-position: right;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .sections-wrap {
    background-image: url(../images/contacts-bg-1200@2x.png);
  }
}

.sections-flex-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .sections-flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .online {
    padding: 84px 0;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .online {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .online {
    width: calc(50% + 15px);
  }
}

.online-title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.1;
  transition: opacity 250ms linear;
}
@media screen and (max-width: 767px) {
  .online-title {
    text-align: center;
  }
}
.online-form:focus-within .online-title {
  opacity: 1;
}

.online-label-container {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .online-label-container {
    display: flex;
    gap: 30px;
  }
}

.online-label {
  position: relative;
  display: block;
}
@media screen and (max-width: 767px) {
  .online-label:first-child {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .online-label {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .online-label {
    display: inline-block;
    width: 270px;
  }
}

.online-input {
  width: 100%;
  height: 24px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: transparent;
  transform: border-bottom-color 1250ms linear;
}

.online-label-text {
  position: absolute;
  left: 0;
  bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform 250ms linear, color 250ms linear;
}

.online-label-textarea {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .online-label-textarea {
    width: 570px;
  }
}

.online-textarea {
  width: 100%;
  height: 76px;
  padding: 0;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: transparent;
}

.online-textarea-text {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform 250ms linear, color 250ms linear;
}

.online-input:not(:-moz-placeholder-shown) + .online-label-text, .online-textarea:not(:-moz-placeholder-shown) + .online-textarea-text {
  transform: translateY(-100%);
}

.online-input:focus + .online-label-text,
.online-input:not(:placeholder-shown) + .online-label-text,
.online-textarea:focus + .online-textarea-text,
.online-textarea:not(:placeholder-shown) + .online-textarea-text {
  transform: translateY(-100%);
}

.online-input:not(:-moz-placeholder-shown), .online-input:not(:-moz-placeholder-shown) + .online-label-text, .online-textarea:not(:-moz-placeholder-shown), .online-textarea:not(:-moz-placeholder-shown) + .online-textarea-text {
  color: #ffffff;
  border-color: #ffffff;
}

.online-input:focus,
.online-input:focus + .online-label-text,
.online-input:not(:placeholder-shown),
.online-input:not(:placeholder-shown) + .online-label-text,
.online-textarea:focus,
.online-textarea:focus + .online-textarea-text,
.online-textarea:not(:placeholder-shown),
.online-textarea:not(:placeholder-shown) + .online-textarea-text {
  color: #ffffff;
  border-color: #ffffff;
}

.online-btn {
  display: block;
  color: var(--main-btn-color);
}
@media screen and (max-width: 767px) {
  .online-btn {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    padding: 84px 0;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contacts {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .conacts-content-container {
    display: flex;
    gap: 100px;
  }
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}
@media screen and (max-width: 767px) {
  .contacts-title {
    text-align: center;
  }
}

.contacts-address {
  font-style: normal;
}

.contacts-address-link {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item:not(last-child) {
  margin-bottom: 20px;
}

.contacts-item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-primary-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-primary-text::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-secondary-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding: 56px 0;
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .footer-list {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.footer-item {
  display: flex;
  align-items: center;
}
.footer-item:first-child::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */