:root {
  --main-title-color: #fff;
  --main-btn-color: #fff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.section-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-primary-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -----------------Header------------------------- */
.header {
  background-color: grey;
}

.header-link,
.header-tel {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
}
/* -----------------------Hero------------------------ */
.hero {
  background-color: grey;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-primary-text {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-secondary-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -----------------------About------------------------ */

.about-primary-text {
  color: var(--secondary-title-color);
}

.about-title {
  color: var(--secondary-title-color);
}

.about-secondary-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--secondary-btn-color);
}

/* -----------------------Prices------------------------ */

.prices {
  background-color: #303030;
}

.prices-text {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--main-title-color);
}

.prices-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--main-btn-color);
}

/* -----------------------Benefits------------------------ */

.benefits-item-primary-text {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-item-secondary-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-primary-text {
  color: #303030;
}

.benefits-title {
  color: #303030;
}

.benefits-secondary-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* -----------------------Barbers------------------------ */

.barbers-text {
  color: #303030;
}

.barbers-title {
  color: #303030;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -----------------------Gallery------------------------ */

.gallery-text {
  color: #303030;
}

/* -----------------------ONLINE------------------------ */
.online {
  background-color: grey;
}
.online-title {
  color: var(--main-title-color);
}
/* -----------------------CONTACTS------------------------ */
.contacts {
  background-color: grey;
}

.contacts-title {
  color: var(--main-title-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-primary-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-secondary-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* -----------------------FOOTER------------------------ */
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
