.btn {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  transition: background-color 250ms linear, color 250ms linear;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
  }
  &--light {
    color: var(--accent-color);
  }

  &--dark {
    color: var(--secondary-btn-color);
  }
}
