:root {
  --main-transition-duration-value: 250ms;
  --main-timing-function-value: cubic-bezier(0.4, 0, 0.2, 1);
  --main-title-color: #fff;
  --main-btn-color: #fff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
}
