.about__container {
  display: flex;
  gap: 30px;
}

.picture-list {
  display: flex;
  gap: 30px;
}

.picture-list__item {
  min-width: 270px;
}

.about__content {
  max-width: 470px;
}

.about__primary-text {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.about__title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.about__secondary-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about__text {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
