.benefits-container {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 767px) {
    align-items: center;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  @media screen and (max-width: 1199px) {
    margin-top: 44px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    width: 450px;
  }
  @media screen and (min-width: 1199px) {
    margin-left: 100px;
    width: 370px;
  }
}

.benefits-item {
  width: calc((100% - 30px) / 2);
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background-color: #f7f7f7;

  &:nth-child(2n) {
    margin-top: 30px;
  }
}

.benefits-item-primary-text {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-primary-icon {
  position: absolute;
  top: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ff6c00;
}

.benefits-item-secondary-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-content {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
  }
  @media screen and (min-width: 1199px) {
    margin-left: 130px;
    padding-top: 9px;
  }
}

.benefits-primary-text {
  margin-bottom: 20px;
  color: #303030;
}

.benefits-title {
  max-width: 430px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-secondary-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
