.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-left: 131px;
  display: flex;
  gap: 30px;
}

.header__connect {
  margin-left: auto;
}

.menu__link,
.connect__tel {
  transition: color 250ms linear;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.menu__link:hover,
.menu__link:focus {
}

.connect__btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}
