.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-flex-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: 131px;
  display: flex;
  gap: 30px;
}

.contact-list {
  margin-left: auto;
}

.header-link,
.header-tel {
  transition: color 250ms linear;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}
